<div class="p-10">
  <div class="flex justify-between items-center">
  <h1 class="text-2xl font-semibold mb-10">All Students</h1>
  <a [routerLink]="'/student/form'" class="bg-green-600 text-white rounded-md px-5 py-1"> + Add New</a>
</div>
  <div class="grid grid-cols-4 gap-5">

    @for (item of (students$ | async) ; track item) {
      <div class="shadow x-full rounded-md p-3">

        <div class="flex gap-5 items-center">
          <div class="bg-purple-500 rounded-full p-5 w-10 h-10 flex justify-center items-center text-white">
          {{item.name[0].toUpperCase()}}
          </div>
         <div>
           <h1 class="text-xl">
          {{item.name | titlecase }}
          </h1>
          <h4 class="text-gray-500">
               {{ item.adress | titlecase }}
          </h4>
          <h4 class="text-gray-500">
            {{ item.phoneNumber}}
          </h4>
          <h4 class="text-gray-500">
            {{ item.email}}
          </h4>
        </div>

        <div class="flex flex-col gap-5">
          <a [routerLink]="['/students/',item.id]" class="p-3 bg-blue-600 text-white rounded-full shadow-md hover:bg-blue-400 " >
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
          </svg>
        </a>

        <button (click)="delete(item.id)" class="bg-red-400 text-white p-3 rounded-full hover:bg-red-300">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
          </svg>
          </button>
        </div>

      </div>
      </div>
    }

  </div>
</div>
